.contBox{
    padding-right: 0;
}
.htlitem{
    height: 210px;
    border: 1px solid #E5EBF1;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 0 20px 0;
}
.itmlft, .itmrt{
    float: left;
}
.itmlft{
    width: 210px;
    height: 100%;
    text-align: center;
    background: #F5F7FA;
    padding: 0 20px;
}
.htlimgdv{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto 15px;
}
.htlimgdv img{
    width: 100%;
    height: 100%;
}
.htlname , .htlid{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.htlname{
    font-size: 18px;
    height: 24px;
}
/* .htlid{
    color: #666;
    height: 39px;
    padding: 5px 0 15px 0;
} */
.htlmore a{
    color: #1492FF;
    font-size: 12px;
    display: inline-block;
    margin: 15px 0 0 0;
}
.itmrt{
    width: 1408px;
    padding: 16px 0 0 0;
}
.peplitem{
    position: relative;
    width: 150px;
    height: 230px;
    float: left;
    margin: 0 13px 13px 0;
    background: #F2F5FA;
    overflow: hidden;
    border-radius: 3px;
}
.peplitem:nth-child(10n){
    margin-right: 0;
}
.peplitem dt{
    height: 150px;
    overflow: hidden;
    cursor: pointer;
}
.peplitem .htzhlb{
    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
}
.peplitem a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.peplitem img{
    width: 100%;
    height: 100%;
}
.peplitem dd{
    color: #36414c;
    text-align: left;
    font-size: 12px;
    line-height: 23px;
    padding: 5px 6px 0;  
}
.peplitem .bkname{
    color: #333;
    text-align: center;
    font-size: 14px;
}