.secmain{
    padding-bottom: 0;
}
.contBox{
    padding: 25px 0 0 30px;
}
.left, .right{
    float: left;
}
.left{
    width: 265px;
    margin: 0 20px 0 0;
}
.lftdv{
    width: 210px;
    height: 250px;
    border: 1px solid #E5EBF1;
    margin: 0 0 20px 0;
}
.imgtitle{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #E5EBF1;
}
.ckp::before{
    content: '';
    width: 16px;
    height: 10px;
    background: url('../img/cl_lft.png') center no-repeat;
    display: inline-block;
    margin: 0 20px 0 0;
}
.ckp::after{
    content: '';
    width: 16px;
    height: 10px;
    background: url('../img/cl_rt.png') center no-repeat;
    display: inline-block;
    margin: 0 0 0 20px;
}
.lftdv .imgdv{
    height: 208px;
    padding: 10px;
    overflow: hidden;
}
.imgOuter{
    position: relative;
    width: 100%;
    height: 100%;
}
.imgOuter img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
}
.infotbl{
    margin: 40px 0 0 0;
}
.infotbl td{
    height: 45px;
}
.infotbl td:first-child{
    color: #666;
}
.ifval{
    max-width: 185px;
    padding: 0 0 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;    
    vertical-align: middle;
}
.right{
    min-width: 1335px;
    position: relative;
    height: 700px;
    border-left: 6px solid #F1F3F6;
}
.htlist{
    width: 1335px;
    padding: 0 0 0 30px;
}
.peplitem{
    position: relative;
    width: 150px;
    height: 205px;
    float: left;
    margin: 0 13px 13px 0;
    background: #F2F5FA;
    overflow: hidden;
    border-radius: 3px;
}
.peplitem:nth-child(8n){
    margin-right: 0;
}
.peplitem dt{
    height: 150px;
    overflow: hidden;
}
.peplitem a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.peplitem img{
    width: 100%;
    height: 100%;
}
.peplitem dd{
    color: #36414c;
    text-align: left;
    font-size: 12px;
    line-height: 23px;
    padding: 5px 6px 0;  
}
.pagegation{
    bottom: 0;
    text-align: right;
}