.menutb{
    margin: 0 0 5px;
}
.tjlist dl{
    width: 255px;
    height: 280px;
    border-radius: 3px;
    float: left;
    background: #27282E;
    margin: 10px 20px 15px 0;
    box-shadow: 0 5px 0 0 #16171A;
}
.tjlistAll dl{
    height: 373px;
}
.tjimgdv{
    position: relative;
    width: 100%;
    height: 145px;
    line-height: 145px;
    text-align: center;
    /* background: url('../img/carno.png') center no-repeat; */
}
.tjimgdv img{
    /* width: 100%;
    height: 100%; */
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    cursor: pointer;
}
.tjimgdv .htzhlb{
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}
.tjtitle{
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    padding: 0 20px;
    overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
.tjlist dd{
    height: 105px;
    padding: 10px 20px 0;
    border-top: 1px solid #393C47;
}
.tjifp{
    color: #909099;
    font-size: 14px;
    line-height: 26px;
}
.tjinfo{
    color: #c0c0cc;
    max-width: 140px;
    overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    float: right;
}