html,body{
    width: 100%;
    min-height: 100%;
    padding: 0 !important;
    max-width: 1920px !important;
    min-width: 1366px !important;
    background:#0B0B38;
    /* overflow: hidden; */
}
.outer{
    position: relative;
    color: #d3d3e0;
    min-height: 100%; 
    overflow-y: auto; /* outer或者body只能一个有滚动条，body默认是会产生滚动条的，body无滚动条之后，datetimepiker定位会有问题 */
    background:#0B0B38 url('../img/pnlbg.png') center no-repeat;
    background-size: 100% 100%;
    padding: 70px 30px 0;
}
.sec1{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 600px;
    margin: 0 0 25px 0;
}
.sec2{
    display: flex;
    height: 360px;
    margin: 0 0 25px 0;
}
.sec3, .sec4, .sec5{
    height: 100%;
}
.sec3, .sec5{
    width: 21.5%;
}
.sec4{
    width: 57%;
    padding: 0 25px;
}
.txouter{
    display: flex;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #0A3C89;
    border-top: 0;
}
.cornerdv{
    position: relative;
    width: 100%;
    background: url('../img/pnlbd1.png') no-repeat;
    background-size: 100% 100%;
}
.corner{
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 2px solid #1281E7;
}
.cnTop{
    border-right: 0;
    border-bottom: 0;
    left: -1px;
    top: -1px;
}
.cnRt{
    border-left: 0;
    border-bottom: 0;
    right: -1px;
    top: -1px;
}
.cnBtm{
    border-left: 0;
    border-top: 0;
    right: -1px;
    bottom: -1px;
}
.cnLft{
    border-right: 0;
    border-top: 0;
    left: -1px;
    bottom: -1px;
}
.dv1{
    height: 240px;
    margin: 0 0 25px 0;
}
.dv2{
    height: 300px;
}
.dv3{
    height: 600px;
    /* border-top: 0; */
    background-image: url('../img/pnlbd2_top.png'),url('../img/pnlbd2_btm.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top center, left top;
    background-size: auto , 100% 100%;
                /* url('../img/pnlbd2_top.png') top center no-repeat, */
}
.dv4{
    height: 100%;
    background: url('../img/pnlbd3.png') no-repeat;
    background-size: 100% 100%;
}
/* 顶部 */
.pg_top{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #15A2E2;
    font-size: 28px;
    background: url('../img/pnltop.png') bottom center no-repeat;
}
.btndv{
    height: 35px;
}
.btndv a{
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    display: inline-block;
    margin: -20px 0 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.btndv .hmbtn{
    width: 105px;
    background-image: url('../img/pnlhome.png');
    float: left;
    cursor: pointer;
}
.btndv .tmbtn{
    width: 187px;
    background-image: url('../img/pnltime.png');
    float: right;
}
/* 块儿标题 */
.cntitle{
    position: relative;
    padding: 20px 20px 0 30px;
}
.titlep{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    padding: 0 0 0 10px;
    border-left: 3px solid #1492FF;
}
.pnsee{
    width: 20px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
    float: right;
    background: url('../img/pnlsee.png') no-repeat;
}
.menuedv{
    float: right;
}
.daybtns{
    float: left;
    border: 1px solid #074FAB;
    margin: 2px 20px 0 0;
}
.daybtns a{
    color: #d3d3e0;
    height: 34px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    border-right: 1px solid #0861C7;
}
.daybtns a:last-child{
    border: none;
}
.dtdv{
    display: inline-block;
    margin: 0 45px 0 20px;
}
.datadv{
    height: 36px;
    border: 1px solid #074DA7;
    border-radius: 0;
    background: transparent;
}
.hline{
    width: 13px;
}
.datadv input{
    color: #d3d3e0;
    height: 35px;
    line-height: 35px;
    background: transparent;
}
.datadv i{
    height: 36px;
}
/* placeholder颜色 */
input::-webkit-input-placeholder{
    color:#d3d3e0;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#d3d3e0;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#d3d3e0;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#d3d3e0;
}
/* 异常旅馆 */
.yclgdl{
    padding: 40px 0 0 0;
}
.yclgdl dd, .yclgdl dt{
    float: left;
}
.yclgdl dd{
    width: 170px;
}
.yclgdl dt{
    width: 200px;
    margin: 0 auto;
}
.yclgico{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: url('../img/pnlyclg.png') no-repeat;
}
.yclgdl .rivalp{
    width: 135px;
    display: inline-block;
    text-align: right;
    padding: 15px 0 0 0;
}
.valspan{
    color: #fff;
    font-size: 24px;
    max-width: 100px;
    padding: 0 4px 0 0;
    margin: -6px 0 0 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 待处理 */
.dcldv .cncont{
    padding: 20px 30px 0;
}
.dclitem{
    padding: 13px 20px;
}
.dcllft{
    float: left;
    width: 70%;
}
.progressBar{
    height: 12px;
    width: 100%;
    margin: 2px 0 0 0;
    border-radius: 6px;
    background: -webkit-linear-gradient(to right, #2CCFDE, #39ADEE);
    background: -o-linear-gradient(to right, #2CCFDE, #39ADEE);
    background: -moz-linear-gradient(to right, #2CCFDE, #39ADEE);
    background: linear-gradient(to right, #2CCFDE, #39ADEE);
}
.dclrt{
    float: right;
    padding: 14px 0 0 0;
}
.dclrt .valspan{
    height: 34px;
    max-width: 60px;
}
/* 待认领 */
.drlitem{
    width: 166px;
    height: 148px;
    padding: 10px;
    text-align: center;
    background: url('../img/drlico.png') center no-repeat;
    margin: 25px auto 0;
}
.drlitem .valspan{
    font-size: 30px;
    padding: 52px 0 20px 0;
}
/* 抓拍统计 */
.jrzpdv, .zptlzzpdv{
    float: left;
}
.jrzpdv{
    width: 45%;
}
.zptlzzpdv{
    width: 55%;
}
.zptjdv .cncont{
    padding: 55px 0 0 15%;
}
.zptjp{
    padding: 0 0 30px 0;
}
.zptjdv .valspan{
    max-width: 80px;
}
/* 旅店统计 */
.ldtjdv .cncont{
    padding: 50px 20px 0;
}
.ldtjdv dl{
    float: left;
    text-align: center;
    width: 33%;
}
.lgtjcircle, .chartCircle{
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
.lgtjcircle{
    padding: 10px;
    background: -webkit-linear-gradient(to right, #2CCFDE, #39ADEE);
    background: -o-linear-gradient(to right, #2CCFDE, #39ADEE);
    background: -moz-linear-gradient(to right, #2CCFDE, #39ADEE);
    background: linear-gradient(to right, #2CCFDE, #39ADEE);
    border-radius: 50%;
}
.circleinner{
    width: 100%;
    height: 100%;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background: #091245;
}
.chartCircle .circleinner{
    display: none;
}
.lgtjcircle .valspan{
    max-width: 90%;
    padding: 0;
}
.ldtjdv dd{
    margin: 30px 0 0 0;
}
#businessChart, #closeChart{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
/* select2样式覆盖 */
.select2-container--default .select2-selection--single{
    height: 36px;
    border-radius: 0;
    border: 1px solid #09499F;
    background-color: transparent;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #d3d3e0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    background-image: url(../img/selectarow2.png);
}

.mapTitle{
    display: flex;
    height: 150px;
    padding: 0 0 0 30px;
    /* overflow: hidden; */
}
.mapRt{
    width: 155px;
    padding: 15px 20px 0 0;
}
.mapRt .select2-container{
    margin: 8px 0 0 0;
}
.mapLft {
    flex: 1;
    padding: 69px 0 0 0;
}
.mapLft dl{
    float: left;
    width: 48%;
}
.mapLft dt, .mapLft dd{
    float: left;
}
.mapico{
    width: 91px;
    height: 78px;
}
.jrrzico{
    background: url('../img/pnljrrz.png') no-repeat;
}
.zrzico{
    background: url('../img/pnlzrz.png') no-repeat;
}
.mapLft dd{
    padding: 0 0 0 15px;
}
.valdv{
    height: 60px;
    padding: 7px 0 0 0;
}
.valdv .dayspan{
    display: inline-block;
    color: #fff;
    width: 35px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #07459A;
    background: #0A1857;
    margin: 0 3px 0 0;
}
.mapcont{
    padding: 20px 0 0 0;
    height: 470px;
}
#mapChart{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}
#rzqsChart{
    width: 90%; 
    height:280px; 
    margin: 0 auto;
}
/* 今日入住排行榜 */
.sec2L{
    width: 21.5%;
    height: 100%;
    margin: 0 25px 0 0;
}
.dv5{
    height: 100%;
}
.jrrzdv .cncont{
    padding: 15px 20px 0 40px;
    overflow: hidden;
}
.jrrztbl{
    width: 100%;
}
.jrrztbl th{
    font-weight: normal;
    color: #14baac;
    text-align: left;
}
.jrrztbl th, .jrrztbl td{
    height: 40px;
}
.jrrztbl td:first-child{
    position: relative;
}
.csblok{
    position: absolute;
    left: -12px;
    top: 5px;
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.pstshadow{
    position: absolute;
    left: 1px;
    bottom: -3px;
    border: 3px solid #803010;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    display: inline-block;
    transform: rotate(45deg);
}
.csblok1{
    background: #DA3E00;
}
.csblok2{
    background: #DA9000;
}
.csblok2 .pstshadow{
    border-color: #8D5F06;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.csblok3{
    background: #0092C2;
}
.csblok3 .pstshadow{
    border-color: #084A60;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}
.tblid{
    width: 50px;
}
.jrrztbl .tblval{
    display: inline-block;
    max-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.jrrztbl .mxw1{
    max-width: 80px;
}
.jrrztbl .mxw2{
    max-width: 150px;
}
.jrrztbl .mxw3{
    max-width: 50px;
    font-size: 18px;
    font-weight: bolder;
}
.rzqsdv{
    flex: 1;
}
.rzqsdv .cncont{
    padding: 20px 0 0 0;
}
@media (max-width: 1860px) {
    .mapcont{
        /* border: 1px solid red; */
    }
    /* 异常旅店，隐藏图标 */
    .yclgdl dd{
        display: none;
    }
    .yclgdl dt{
        float: none;
    }

    /* 地图显示模块------------------------- */
    /* 今日入住，总入住隐藏图标 */
    .mapLft dt{
        display: none;
    }
    .mapRt{
        padding-top: 62px;
    }
    /* 抓拍统计------------------------------ */
    .zptjdv .cnco{
        padding-left: 15%;
    }
    /* 待处理---------------------- */
    .dclitem{
        padding: 13px 0px;
    }
    .dcllft{
        width: 60%;
    }
    /* 旅店统计------------------------------- */
    .chartCircle{
        padding: 10px;
    }
    .lgtjcircle, .circleinner{
        background: transparent;
    }
    .chartCircle .circleinner{
        display: inline-block;
    }
    .chartCircle .chartdv{
        display: none;
    }
    .ldtjdv dd{
        margin: 0;
    }
    /* 待认领-------------- */
    .tohide{
        display: none;
    }
    /* 入住趋势-------------------------- */
    .daybtns{
        display: none;
    }
}
