/* 实时视频 */
.secmain{
    padding-bottom: 30px;
}
.topTitl .htzhlb{
    float: right;
}
.sec4{
    width: 100%;
    height: 450px;
}
.maincont{
    height: 100%;
}
.vdContainer{
    width: 808px;
    height: 100%;
    border: 1px solid #000;
    float: left;
}
.deviceimgshow{
    /* width: 35%; */
    width: 560px;
    height: 100%;
    border: 1px solid #1492FF;
    background: #27282E;
    float: left;
    margin: 0 0 0 60px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.dvcimgdv{
    width: 100%;
    height: 320px;
    overflow: hidden;
    background: #E6E6E6 url('../img/carno.png') no-repeat;
    background-position: center;
}
.dvcimgdv img{
    width: 100%;
    height: 100%;
}
.dvcimginfo .infotlt{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #373941;
}
.dvcname{
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dvcimginfo .tbldv{
    font-size: 12px;
    padding: 10px 20px;
}
.dvcimginfo .dvctitle{
    float: left;
    width: 140px;
    color: #909099;
    line-height: 25px;
}
.dvcimginfo .wdtlt{
    width: 220px;
}
.dvcimginfo .dvcval{
    color: #c0c0c0;
    padding: 0 0 0 8px;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dvcimginfo .wdval{
    width: 150px;
}
.w40{
    width: 40px;
}
.w60{
    width: 60px;
}
.w65{
    width: 65px;
}
.w90{
    width: 80px;
}
.maxW150{
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dvcmenu{
    height: 75px;
    text-align: center;
    /* line-height: 75px; */
    background: #16171A;
	padding: 18px 0 0 0;
}
.dvcmenu a{
    color: #fff;
    width: 115px;
    height: 38px;
    line-height: 38px;
    background: #1492FF;
    border: 1px solid #1492FF;
    border-radius: 3px;
    display: inline-block;
    margin: 0 40px 0 0;
    cursor: pointer;
}
.dvcmenu a:nth-child(2){
    margin: 0;
}
.sec5{
    padding: 30px 0 0 0;
}
.deviceimglist{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.deviceimglist li{
    /* position: relative; */
    width: 16.6%;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 0 20px 0 0;
}
.deviceimglist li:nth-child(6){
    margin: 0;
}
.deviceimglist .imgdv{
    /* width: 240px; */
    height: 140px;
    background: #E6E6E6 url('../img/carno.png') no-repeat;
    background-position: center;
}
.imglstinifo{
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    background: #27282E;
    padding: 5px 15px;
    text-align: center;
}
.imglstinifo .imgcarid{
    font-size: 14px;
}
.imglstinifo p{
    height: 20px;
}
.deviceimglist .imgdv img{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.deviceimglist .curimg{
    border-color: #1492FF;
}

@media (max-width: 1600px) {
    .deviceimgshow{
        /* width: 280px; */
        width: 25%;
        margin: 0 0 0 18px;
    }
    .dvcimgdv{
        height: 210px;
    }
    .deviceimglist .imgdv{
        height: 115px;
    }
    .dvcimginfo .infotlt{
        font-size: 14px;
    }
    .dvcname{
        max-width: 130px;
    }
    .dvcimginfo .dvctitle{
        width: 310px;
    }
    .dvcimginfo .dvcval{
        width: 240px;
    }
    
}