
/* 视频摄像头搜索结果默认隐藏 */
.videoResult{
    display: none;
}

/* 实时视频 */
.videoSecmain{
    padding: 0;
}
.vdContainer{
    width: 1000px;
    height: 520px;
    border: 1px solid #393C47;
}
.dttmdv{
    height: 115px;
    margin: 55px 0 0 0;
}
.dtDv{
    height: 40px;
    max-width: 1460px;
    display: inline-block;
    margin: 0 0 20px 0;
}
.swiper-slide{
    line-height: 40px;
    text-align: center;
    background: #2E2E38;
    cursor: pointer;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url('../img/pre.png');
    background-size: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image: url('../img/next.png');
    background-size: auto;
}
.dtUl .curDt{
    color: #fff;
    background: #1492FF;
}
.dragContin{
    position: relative;
    width: 1460px;
}
.tmDv{
    position: relative;
    width: 1442px;
    height: 45px;
    border-bottom: 1px solid #373A45;
    margin: 0 auto;
}
.tmTo{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 19px;
    height: 20px;
    cursor: pointer;
    background: url('../img/tmTo.png') no-repeat;
}
.tmLine{
    position: absolute;
    left: 9px;
    bottom: -24px;
    width: 0;
    height: 26px;
    border-left: 1px solid #1CBA9A;
}
.tmUl{
    position: absolute;
    left: 0;
    bottom: 0;
    /* border: 1px solid red; */
}
.tmUl li{
    position: relative;
    bottom: -5px;
    float: left;
    height: 10px;
    width: 0;
    border-left: 1px solid #2F3139;
    margin: 0 5px 0 0;
}
.tmUl li:nth-child(5n+1){
    border-color: #545466;
}
.tmUl li:nth-child(10n+1){
    height: 15px;
    bottom: 0;
}
.tmUl li:first-child, .tmUl li:last-child{
    bottom: 0;
    height: 15px;
    border-color: #545466;
}
.tmUl li:last-child{
    margin-right: 0;
}
.tmNum{
    position: absolute;
    top: 20px;
    left: -10px;
    width: 20px;
    text-align: center;
    display: inline-block;
}
/* 实时抓拍 */
.tjlist dl{
    width: 255px;
    height: 180px;
    color: #e0e0e0;
    text-align: center;
    overflow: hidden;
    float: left;
    background: #27282E;
    margin: 0 18px 20px 0;
    border-radius: 5px;
    box-shadow: 0 5px 0 0 #16171A;
}
.tjlist dl:nth-child(6n){
    margin-right: 0;
}
.tjlist dt{
    height: 145px;
    overflow: hidden;
    background: url('../img/carno.png') center no-repeat;
}
.tjlist dd{
    line-height: 35px;
}
.tjlist img{
    width: 100%;
    height: 100%;
}
.zptime{
    max-width: 210px;
    display: inline-block;
}