.content{
    padding: 1.733333rem .933333rem 0;
    font-size: .373333rem;
    text-align: center;
    color: #333;
}
.imgdv{
    width: 4rem;
    height: 4.053333rem;
    background: url('../img/tip2.png');
    background-size: 100% 100%;
    margin: 0 auto .8rem;
}
.imgbusy{
    width: 4.186667rem;
    height: 3.6rem;
    background-image: url('../img/busy.png');
}
.tips{
    color: #000;
    font-size: .48rem;
    margin-bottom: .4rem;
}
.btndv{
    padding-top: 1.333333rem;
}
.btndv .obtn{
    width: 4.4rem;
    border-radius: .666667rem;
}