.secmain{
    padding-bottom: 0;
}
.contBox{
    padding: 25px 0 0 50px;
}
.left, .right{
    float: left;
}
.left{
    width: 360px;
    margin: 0 50px 0 0;
}
.bankul{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e0e0e0;
}
.bankul li{
    float: left;
    font-size: 16px;
    padding: 0 35px;
    line-height: 43px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.bankul .curli{
    color: #1492FF;
    border-color: #1492FF;
}
.imgDv{
    position: relative;
    width: 100%;
    height: 240px;
    background: #F5F5F5;
    margin: 20px 0 35px 0;
    padding: 150px 0 0 0;
    overflow: hidden;
}
.imgOuter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}
.imgOuter img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    max-height: 100%;
    width: auto;
    cursor: pointer;
}
.imgDv .upld{
    color: #1492FF;
    text-align: center;
    margin: 0 0 23px 0;
}
.imgDv .tips{
    color: #787880;
    font-size: 12px;
    text-align: center;
}
.datasite{
    margin: 0 0 60px 0;
}
.datasite .datadv{
    width: 100%;
    margin: 0 0 15px 0;
}
.similar{
    margin: 30px 0 0 0;
}
.sliderdv{
    position: relative;
    margin: 20px 0 0 0;
    padding: 0 10px;
}
.vlspan{
    position: absolute;
    bottom: -9px;
    display: inline-block;
    height: 6px;
    padding: 10px 0 0 0;
    font-size: 12px;
    color: #666;
}
.leftvl{
    left: 10px;
    border-left: 1px solid #e0e0e0;
}
.rightvl{
    right: 10px;
    border-right: 1px solid #e0e0e0;
}
.btndv .obtn{
    width: 150px;
    height: 40px;
    line-height: 38px;
}
.btndv .searchbtn{
    background-position: 45px 12px;
}
.btndv .resetbtn{
    float: right;
    border: 1px solid #1492FF;
    background-color: #fff;
    background-position: 45px 12px;
}
.right{
    min-width: 1145px;
    position: relative;
    height: 700px;
    border-left: 6px solid #F1F3F6;
}
.titlSecond{
    position: relative;
    padding: 0 30px;
    margin: 0 0 20px 0;
}
.titlSecond p{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    border-left: 3px solid #1492FF;
    padding: 0 0 0 15px;

}
.titlSecond .tptbtns{
    padding: 0;
}
.htlist{
    width: 1190px;
    padding: 0 0 0 50px;
}
.peplitem{
    position: relative;
    width: 150px;
    height: 205px;
    float: left;
    margin: 0 40px 40px 0;
    background: #F2F5FA;
    border-radius: 3px;
}
.peplitem:nth-child(6n){
    margin-right: 0;
}
.peplitem dt{
    position: relative;
    height: 150px;
    cursor: pointer;
}
.csblok{
    position: absolute;
    bottom: 7px;
    right: -5px;
    display: block;
    height: 22px;
    /* padding: 2px 8px; */
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: #1492FF;
}
.csnum{
    position: relative;
    z-index: 2;
    font-size: 14px;
    margin: 0 0 -5px 0;
    padding: 2px 8px;
    text-align: right;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #1492FF;
    text-overflow: ellipsis;
}
.pstshadow {
    position: absolute;
    right: 2px;
    bottom: -4px;
    border: 4px solid #0C5799;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    display: inline-block;
    transform: rotate(45deg);
}
.peplitem a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.peplitem img{
    width: 100%;
    height: 100%;
}
.peplitem dd{
    color: #36414c;
    text-align: left;
    font-size: 12px;
    line-height: 23px;
    padding: 5px 6px 0;  
}
.pagegation{
    bottom: 0;
    text-align: right;
}