html,body{
    width: 100%;
    height: 100%;
    padding: 0 !important;
    max-width: 1920px !important;
    min-width: 1366px !important;
    background:#0B0B38;
}
.outer{
    position: relative;
    color: #fff;
    height: 100%;
    overflow-y: auto;
    background:#0B0B38 url('../img/homebg.png') center no-repeat;
    background-size: 100% 100%;
}
.top{
    height: 60px;
    background: rgba(0, 0, 0, .15);
    padding: 0 20px;
}
.sysName{
    line-height: 60px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3px;
    float: left;
}
.topRt{
    float: right;
    line-height: 60px;
}
.topRt a{
    color: #fff;
    margin: 0 0 0 15px;
}
.topRt .ctrpnbtn{
    width: 106px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    margin: 0 100px 0 0;
    background: url('../img/pnlhome.png') center no-repeat;
}
.btm{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #909099;
    line-height: 60px;
    text-align: center;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1220px;
    height: 500px;
    margin: 0 auto;
}
.titlUl{
    margin: 0 0 20px 0;
}
.titlUl li{
    float: left;
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-weight: 700px;   
    font-size: 22px;
    cursor: pointer;
    background: url('../img/hm_titl.png') no-repeat;
}
.titlUl .curtitl{
    background: url('../img/hm_curtitl.png') no-repeat;
}
.contitem{
    display: none;
}
.contitem li{
    position: relative;
    float: left;
    width: 395px;
    height: 195px;
    text-align: center;
    font-size: 16px;
    padding: 60px 0 0 0;
    margin: 0 10px 10px 0;
    background: rgba(0, 78, 204, .6);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.itmico{
    position: absolute;
    width: 33px;
    height: 33px;
    display: inline-block;
}
.topL{
    left: 10px;
    top: 10px;
    background: url('../img/topL.png') center no-repeat;
}
.btmR{
    right: 10px;
    bottom: 10px;
    background: url('../img/btmR.png') center no-repeat;
}
.mnico{
    width: 44px;
    height: 44px;
    display: block;
    background-image: url('../img/home_icos.png');
    margin: 0 auto 20px;
    
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.rzjlico{
    background-position: -10px -268px;
}
.drsbico{
    background-position: -139px -139px;
}
.zkjkico{
    background-position: -212px -138px;
}
.fltjico{
    background-position: -146px -74px;
}
.cqwbico{
    background-position: -75px -139px;
}
.zpycico{
    width: 49px;
    background-position:  -10px -10px;
}
.lgzlglico{
    background-position: -10px -139px;
}
.jyzzlglico{
    background-position: -212px -74px;
}
.lgrlico{
    background-position:  -73px -203px;
}
.jyzzlshico{
    background-position: -10px -203px;
}
.lgzlshico{
    background-position:  -10px -74px;
}
.xxtzlsico{
    background-position: -136px -203px;
}
.qfxxico{
    background-position: -276px -10px;
}
.jgglico{
    width: 47px;
    background-position: -79px -10px;
}
.xxdzglico{
    width: 46px; 
    background-position: -146px -10px;
}
.sxtglico{
    background-position:  -276px -74px;
}
.zhglico{
    width: 47px;
    background-position: -79px -74px;
}
.czrzico{
    background-position: -199px -203px;
}
.grzxico{
    background-position: -212px -10px;
}
.mname{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    width: 165px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
}
.mname a{
    color: #fff;
}
/* -------------菜单名字边框效果--------------------- */
.mnline{
    position: absolute;
    background: #89A6DC;
    display: inline-block;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.top_line, .btm_line{
    width: 40px;
    height: 1px;
}
.rit_line, .lft_line{
    width: 1px;
    height: 40px;
}
.top_line{
    top: 0;
    right: -5px;
    background: -webkit-linear-gradient(to left, #88AAE1, rgba(23, 89, 196, .5));
    background: -o-linear-gradient(to left, #88AAE1, rgba(23, 89, 196, .5));
    background: -moz-linear-gradient(to left, #88AAE1, rgba(23, 89, 196, .5));
    background: linear-gradient(to left, #88AAE1, rgba(23, 89, 196, .5));
}
.rit_line{
    top: -5px;
    right: 0;
    background: -webkit-linear-gradient(to bottom, #88AAE1, rgba(23, 89, 196, .5));
    background: -o-linear-gradient(to bottom, #88AAE1, rgba(23, 89, 196, .5));
    background: -moz-linear-gradient(to bottom, #88AAE1, rgba(23, 89, 196, .5));
    background: linear-gradient(to bottom, #88AAE1, rgba(23, 89, 196, .5));
}
.btm_line{
    left: -5px;
    bottom: 0;
    background: -webkit-linear-gradient(to right, #88AAE1, rgba(23, 89, 196, .5));
    background: -o-linear-gradient(to right, #88AAE1, rgba(23, 89, 196, .5));
    background: -moz-linear-gradient(to right, #88AAE1, rgba(23, 89, 196, .5));
    background: linear-gradient(to right, #88AAE1, rgba(23, 89, 196, .5));
}
.lft_line{
    bottom: -5px;
    left: 0;
    background: -webkit-linear-gradient(to top, #88AAE1, rgba(23, 89, 196, .5));
    background: -o-linear-gradient(to top, #88AAE1, rgba(23, 89, 196, .5));
    background: -moz-linear-gradient(to top, #88AAE1, rgba(23, 89, 196, .5));
    background: linear-gradient(to top, #88AAE1, rgba(23, 89, 196, .5));
}
.contitem li:hover .mnline{
    background: #88AAE1;
}
.contitem li:hover .top_line{
    width: 100%;
    right: 0;
}
.contitem li:hover .rit_line{
    height: 100%;
    top: 0;
}
.contitem li:hover .btm_line{
    width: 100%;
    left: 0;
}
.contitem li:hover .lft_line{
    height: 100%;
    bottom: 0;
}
/* -------------------------------------------- */
.contitem li:hover{
    padding-top: 55px;
    background: -webkit-linear-gradient(to bottom, #31B5FF, #3679F6, rgba(23, 89, 196, .5));
    background: -o-linear-gradient(to bottom, #31B5FF, #3679F6, rgba(23, 89, 196, .5));
    background: -moz-linear-gradient(to bottom, #31B5FF, #3679F6, rgba(23, 89, 196, .5));
    background: linear-gradient(to bottom, #31B5FF, #3679F6, rgba(23, 89, 196, .5));
}
.contitem li:hover .mnico{
    top: 20px;
}
.curitem{
    display: block;
}