.statespan{
    font-size: 14px;
}
.statespan span{
    margin: 0 0 0 30px;
}
.stall::before{
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    background: #1492FF;
    margin: 0 5px 0 0;
}
.stopen::before{
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    background: #50C800;
    margin: 0 5px 0 0;
}
.stclose::before{
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    background: #F0A81A;
    margin: 0 5px 0 0;
}
.plselspan{
    display: none;
}
.plselspan .tptbtn{
    margin: 0 0 0 3px;
}
.qrcodebtn{
    background: #F0A81A;
}
.plDelbtn{
    background: #EA2936;
}
.datatb .wNumid{
    width: 100px;
}
.datatb td:first-child{
    position: relative;
    text-align: left;
    padding: 0 0 0 40px;
}
.datatb  .htzhlb{
    position: absolute;
    left: 15px;
    top: 9px;
    display: none;
}

/* 批量选择时的样式控制 */
.isplSel .plselbtn{ /* 批量选择按钮隐藏 */
    display: none;
}
.isplSel .plselspan{/* 批量选择相关操作按钮显示 */
    display: inline-block;
}
.isplSel .htzhlb{/* 复选框显示 */
    display: inline-block;
}