.banner{
  background: #242949;
}
.carousel-indicators li{
  width: 14px;
  height: 14px;
  background: #72727E;
  border-color: #72727E;
  margin: 0 4px;
}
.carousel-indicators .active{
  height: 14px;
  border-radius: 7px;
  width: 35px;
  background: #B9B9C1;
  border-color: #B9B9C1;
  margin: 0 4px;
}
.notice{
  background: #F5F5F5;
  padding: 20px 0;
}
.notilist{
  display: inline-block;
}
.notilist li{
  float: left;
  margin: 0 30px 0 0;
}
.notilist li::before{
  content: '';
  display: inline-block;
  border: 2px solid #B24443;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 8px 0 0;
}
.product{
  text-align: center;
}
.prolist{
  text-align: center;
}
.prolist li{
  display: inline-block;
}
.morebtn{
  color: #B24443;
  border: 1px solid #B24443;
  border-radius: 17px;
  padding-left: 40px;
  padding-right: 40px;
}
.solution{
  color: #fff;
  text-align: center;
  background: #1D1E20;
  padding: 30px 0 40px 0;
}
.solution .nav-tabs{
  border-bottom: 1px solid rgba(115, 117, 116, .6);
}
.nav-tabs>li{
  width: 25%;
  padding: 0 20px;
}
.nav>li>a:focus, 
.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}
.nav-tabs>li>a{
  color: #e0e0e0;
  border: none;
  border-bottom: 2px solid transparent;
}
.nav-tabs>li>a:hover {
  border: none;
  border-bottom: 2px solid #CF1602;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
  color: #fff;
  cursor: default;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CF1602;
  margin-bottom: -1px;
}
.tab-content{
  text-align: left;
  padding: 0 40px;
}
.solu-cont{
  width: 50%;
}
.case{
  padding: 30px 0 40px;
  text-align: center;
}
#case-swiper .swiper-slide{
  height: 150px;
  border: 1px solid red;
}
.partner{
  text-align: center;
  padding: 30px 0 40px;
}
.partlist li{
  float: left;
  width: 16%;
  padding: 10px;
}
.partlist li a{
  background: #F7F5F6;
  display: block;
  border: 1px solid red;
}
.partlist img{
  max-width: 100%;
  height: auto;
}