.contBox{
    padding: 10px 40px;
}
.infoSec{
    margin: 0 0 30px 0;
}
.infoTitl::before{
    content: '';
    width: 10px;
    height: 10px;
    background: #1492FF;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 5px 0 0;
}
.seCont{
    padding: 15px 0 0 40px;
}
.twoCont{
    padding: 15px 0 0 0;
}
.left, .right{
    float: left;
    margin: 0 60px 0 0;
}
.basicInfo{
    margin: 10px 0 0 40px;
}
.basicInfo td{
    height: 50px;
}
.basicInfo td:first-child{
    color: #666;
    width: 90px;
}
.bckipt{
    width: 340px;
    height: 34px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}
#roomTbl{
    width: 430px;
}
#merchantTbl{
    width: 700px;
}
.infoTbl tr:first-child{
    color: #666;
}
.infoTbl td{
    height: 40px;
    border: 1px solid #e0e0e0;
    padding: 0 0 0 15px;
}
.infoTbl td:first-child{
    width: 75px;
}
.infoTbl td:last-child{
    position: relative;
}
.roomipt{
    width: 90%;
    height: 30px;
    line-height: 30px;
    border: none;
    outline: none;
}
.w100{
    width: 100px;
}
.w165{
    width: 165px;
}
.w110{
    width: 110px;
}
.btndv{
    padding: 20px 0 0 40px;
}
.btndv .obtn{
    width: 120px;
    background: #52C41A;
    border-color: #52C41A;
}