.contBox{
    padding: 10px 40px;
}
.infoSec{
    margin: 0 0 30px 0;
}
.infoTitl::before{
    content: '';
    width: 10px;
    height: 10px;
    background: #1492FF;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 5px 0 0;
}
.seCont{
    padding: 15px 0 0 40px;
}
.twoCont{
    padding: 15px 0 0 0;
}
.left, .right{
    float: left;
    margin: 0 60px 0 0;
}
.basicInfo{
    margin: 10px 0 0 40px;
}
.basicInfo td{
    height: 50px;
}
.basicInfo td:first-child{
    color: #666;
    width: 90px;
}
.bckipt{
    width: 340px;
    height: 34px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}
.remark {
    width: 340px;
    height: 80px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    resize: none;
    overflow: hidden;
}
.addbtn{
    color: #1492FF;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    margin: 10px 0 0 100px;
}
.addi{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 8px;
    background: url('../img/add_big.png') center no-repeat;
}
.infoTbl{
    width: 590px;
    /* display: none; */
}
.infoTbl tr:first-child{
    color: #666;
}
.infoTbl td{
    height: 40px;
    border: 1px solid #e0e0e0;
    padding: 0 0 0 15px;
}
.infoTbl td:first-child{
    width: 75px;
}
.infoTbl td:last-child{
    position: relative;
}
.roomipt{
    width: 90%;
    height: 30px;
    line-height: 30px;
    border: none;
    outline: none;
}
.infoTbl .oprdv{
    position: absolute;
    right: -45px;
    top: 12px;
}
.tsi{
    width: 21px;
    height: 21px;
    display: inline-block;
    margin: 0 10px 0 0;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.tsadd{
    background-image: url(../img/cl_add.png);
}
.tsdel{
    background-image: url(../img/cl_del.png);
}
.infoTbl .hdipt{
    font-size: 14px;
    padding: 0;
    border: none;
}
.w100{
    width: 100px;
}
.w185{
    width: 185px;
}
.w140{
    width: 140px;
}
.btndv{
    padding: 20px 0 0 45px;
}
.btndv .obtn{
    margin: 0 30px 0 0;
}
.infoCard{
    font-size: 12px;
	margin-top: -250px;
    margin-left: -220px;	/* 具体弹框位置具体定 */
    width: 500px;
    height: 470px;
    background: #fff;
}
.infoCard h2{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 10px;
}
.infoCard .sdbxclose{
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-size: 100%;
}
.inftop{
    padding: 15px 20px 0;
}
.searchDv{
    position: relative;
    height: 34px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    overflow: hidden;
    padding: 0 40px 0 0;
    margin: 0 0 10px 0;
}
.seaript{
    width: 100%;
    height: 100%;
    border: none;
}
.seari{
    position: absolute;
    top: 0;
    right: 0;
    width: 33px;
    height: 33px;
    display: inline-block;
    background: url('../img/box_search.png') center no-repeat;
}
.tbdv{
    padding: 0 20px;
    margin: 10px 0 0 0;
}
.dvclist{
    height: 240px;
    overflow: hidden;
    overflow-y: auto;
}
.cell{
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 15px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.tbtitle{
    background: #E5EBF1;
}
.tbtitle .cell:first-child{
    width: 255px;
    border-right: 1px solid #CED8E0;
}
.dvcitem{
    cursor: pointer;
    position: relative;
}
.dvcitem label{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: inline-block;
}
/* .dvcitem:hover{
    background: #E8F4FF;
} */
.box_ck{
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: none;
}
.curitem{
    background: #E8F4FF;
}
.checkedi{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    display: none;
    background: url('../img/checkedi.png') center no-repeat;
}
.box_ck:checked+.checkedi{
    display: inline-block;
}
.dvcitem .cell:first-child{
    width: 255px;
}
.dvcitem .cell:nth-child(2){
    width: 180px;
    padding-right: 30px;
}
.infoCard .sdbfoot{
    height: 70px;
    padding: 18px;
    text-align: center;
    background: #fff;
}
.infoCard .obtn{
    margin: 0 15px;
}

/* 添加老板 */
.peopleinfo{
    width: 475px;
}
.peopleinfo .tbtitle .cell:first-child{
    width: 90px;
}
.peopleinfo .tbtitle .cell:nth-child(2){
    width: 180px;
    border-right: 1px solid #CED8E0;
}
.peopleinfo .dvcitem .cell:first-child{
    width: 90px;
}
.peopleinfo .dvcitem .cell:nth-child(2){
    width: 180px;
}
.peopleinfo .dvcitem .cell:nth-child(3){
    width: 135px;
    padding-right: 30px;
}

/* .hasdata .addbtn{
    display: none;
}
.hasdata .infoTbl{
    display: block;
} */

.infoTitl{
    position: relative;
}
.infoTitl .tleditbtn{
    position: absolute;
    top: 0;
    left: 95px;
    width: 16px;
    height: 18px;
    font-size: 12px;
    line-height: 25px;
    display: none;
    cursor: pointer;
    background: url('../img/editimg.png') center no-repeat;
}
.select2-container--default .select2-selection--single{
    height: 34px;
    border: 1px solid #e0e0e0;
}