html,body{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    min-width: 1366px !important;
}
body{
    padding-bottom: 0;
}
.logo{
    width: 94px;
    height: 28px;
    display: inline-block;
    background: url('../img/logo.png') center no-repeat;
    vertical-align: middle;
    margin: -3px 10px 0 20px;
}

/* 左侧菜单 */
.left-bar{
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    z-index: 1;
    color: #a8a8b2;
    width: 200px;
    background: #1F2126;
}
.left-bar a{
    color: #a8a8b2;
}
.lb-listinner a{
    color: #a8a8b2;
}
.left-bar li{
    line-height: 45px;
    position: relative;
}
.lb-listouter {
    height: 100%;
    padding: 20px 0 0 0;
    overflow: hidden;
    overflow-y: auto;
}
.lb-listouter p{
    padding: 0 10px 0 20px;
    cursor: pointer;
}
.lb-listinner{
    display: none;
}
.lb-listinner li{
    padding: 0 0 0 42px;
}
.lb-listinner a::before{
    content: '.';
    display: inline-block;
    vertical-align: middle;
    margin: -23px 2px 0 0;
    font-size: 32px;
}
.lb-listouter li p:hover{
    color: #fff;
}
.lb-listouter li a:hover{
    color: #fff;
}
.lb-listouter a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
/* 当前具体菜单li的样式 */
.left-bar .curli{
    color: #fff;
    background: #2f323b;
}
.curli a{
    color: #fff;
}
/* ------------------------------------ */
.lbl-icon{
    width: 14px;
    height: 14px;
    display: inline-block;
    background:url('../img/lft_bar.png') no-repeat;
    vertical-align: middle;
    margin: -1px 5px 0 0;
}
.lbl-lgrl{
    margin: -2px 5px 0 0;
    background:url('../img/lft_bar/lft_claim.png') no-repeat;
}
.left-bar .curli .lbl-lgrl{
    background:url('../img/lft_bar/lft_claim2.png') no-repeat;
}
.lb-listouter li:hover .lbl-lgrl{
    background:url('../img/lft_bar/lft_claim2.png') no-repeat;
}
.lbl-yclg{
    margin: -2px 5px 0 0;
    background:url('../img/lft_bar/lft_yclg.png') no-repeat;
}
.left-bar .curli .lbl-yclg{
    background:url('../img/lft_bar/lft_yclg2.png') no-repeat;
}
.lbl-xxtz{
    margin: -2px 5px 0 0;
    background:url('../img/lft_bar/lft_msg.png') no-repeat;
}
.left-bar .curli .lbl-xxtz{
    background:url('../img/lft_bar/lft_msg2.png') no-repeat;
}
.lb-listouter li:hover .lbl-xxtz{
    background:url('../img/lft_bar/lft_msg2.png') no-repeat;
}
.lbl-rzmk{
    background-position: -78px -10px;
}
.left-bar .curli .lbl-rzmk{
    background-position: -10px -45px;
}
.lbl-zkjk{
    height: 11px;
    background-position: -10px -79px;
}
.left-bar .curli .lbl-zkjk{
    background-position: -44px -79px;
}
.lbl-zlgl{
    height: 11px;
    background-position: -78px -79px;
}
.left-bar .curli .lbl-zlgl{
    background-position: -112px -10px;
}
.lbl-yymk{
    height: 15px;
    background-position: -10px -10px;
}
.left-bar .curli .lbl-yymk{
    background-position: -44px -10px;
}
.lbl-jcgn{
    background-position: -44px -45px;
}
.left-bar .curli .lbl-jcgn{
    background-position: -78px -45px;
}
.lbl-msgl{
    margin: -2px 5px 0 0;
    background:url('../img/lft_bar/lft_msgl.png') no-repeat;
}
.lbl-right{
    position: absolute;
    right: 15px;
    top: 22px;
    background-position: -112px -41px;
}
/* 当前菜单展开标题样式 */
.curitem .lb-listinner{
    display: block;
}
.curitem .lbl-right{
    background-position: -112px -67px;
}
.row-main{
    height: 100%;
    margin-left: 200px;
}
.main{
    height: 100%;
    padding: 0;
    background: #F1F3F6;
}
#iframeMain{
    width: 100%;
    height: 100%;
}
/* bootstarp覆盖----------------------------------------- */
.navbar-inverse{
    border:none;
    background-color: #27282E;
    /* background-color: red; */
}
.navbar{
    min-height: 60px;
}
.navbar-brand{
    height: 60px;
    line-height: 25px;
    padding-left: 30px;
}
.navbar-inverse .navbar-brand{
    color: #fff;
    font-size: 22px;
}
.navbar-toggle{
    margin-top: 13px;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.nav{
    padding-right: 20px;
}
@media(min-width: 768px) {
    .navbar-nav>li>a {
        padding-top: 17px;
        height: 60px;
    }
}