.section{
  position: relative;
}
/* page1 */
.navbar-fixed-top{
  position: absolute;
}
.navbar-inverse{
  background-color: rgba(0, 0, 0, .4);
  border-color: transparent;
}
.banner{
  height: 100%;
  padding-top: 60px;
  background: #242949 url('../img/banner.jpg') center no-repeat;
}
.banner .container{
  display: table;
  height: 100%;
}
.banner .bncont{
  color: #fff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.banner .bnp{
  font-size: 56px;
  margin-bottom: 30px;
}
.banner .bnctp{
  font-size: 16px;
  line-height: 30px;
}
.knowmore{
  color: #fff;
  background: #E62E2E;
  border-color: #E62E2E;
  border-radius: 23px;
  height: 45px;
  line-height: 43px;
  font-size: 16px;
  padding: 0;
  width: 170px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.knowmore:hover{
  color: #fff;
  background: #cc2929;
  border-color: #cc2929;
}
.knowmore.active{
  color: #fff;
  background: #cc2929;
  border-color: #cc2929;
}
.bnbtm{
  position: absolute;
  left: 50%;
  bottom: 100px;
  margin-left: -35px;
}
.mouse{
  width: 70px;
  height: 70px;
  display: inline-block;
  background: url('../img/mouse.png') center no-repeat;
}
/* page2 */
.page2{
  height: 100%;
  width: 100%;
  display: table;
}
.page2_row{
  display: table-row;
}
.page2_btm{
  height: 55%;
  background: #F5F5F5;
}
.page2_cell{
  display: table-cell;
}
.page2_cell1{
  text-align: center;
  font-size: 16px;
  vertical-align: bottom;
}
.page2 .prdp{
  font-size: 36px;
  margin-bottom: 20px;
}
.page2 .nav-tabs{
  margin-top: 40px;
  border-bottom: none;
}
.page2 .nav-tabs>li{
  width: 25%;
  padding: 0 20px;
  text-align: center;
}
.page2 .nav-tabs>li>a{
  color: #666;
  width: 100px;
  height: 190px;
  padding-top: 125px;
  border: none;
  display: inline-block;
}
.page2 .nav-tabs>li:first-child>a{
  background: url('../img/product4.png') top center no-repeat;
}
.page2 .nav-tabs>li:nth-child(2)>a{
  background: url('../img/product2.png') top center no-repeat;
}
.page2 .nav-tabs>li:nth-child(3)>a{
  background: url('../img/product3.png') top center no-repeat;
}
.page2 .nav-tabs>li:nth-child(4)>a{
  background: url('../img/product4.png') top center no-repeat;
}
.page2 .nav-tabs>li>a:hover {
  color: #e62e2e;
  border: none;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
  border: none;
}
.page2 .nav-tabs>li.active>a, 
.page2 .nav-tabs>li.active>a:focus, 
.page2 .nav-tabs>li.active>a:hover{
  color: #e62e2e;
}

.page2 .nav-tabs>li:first-child>a:hover,
.page2 .nav-tabs>li:first-child.active>a{
  background: url('../img/product1.png') top center no-repeat;
}
.page2 .nav-tabs>li:nth-child(2)>a:hover,
.page2 .nav-tabs>li:nth-child(2).active>a{
  background: url('../img/product1.png') top center no-repeat;
}
.page2 .nav-tabs>li:nth-child(3)>a:hover,
.page2 .nav-tabs>li:nth-child(3).active>a{
  background: url('../img/product1.png') top center no-repeat;
}
.page2 .nav-tabs>li:nth-child(4)>a:hover,
.page2 .nav-tabs>li:nth-child(4).active>a{
  background: url('../img/product1.png') top center no-repeat;
}

.page2 .tab-content{
  text-align: left;
  padding: 70px 0 0 0;
}
.pg2img{
  width: 90%;
  text-align: center;
  padding: 4% 12% 30px;
  background: url('../img/laptop.png') center no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.pg2img img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.page2 .solu-cont{
  width: 50%;
}

/* page3 */

.solution{
  color: #fff;
  text-align: center;
  background: #1D1E20;
  padding: 30px 0 40px 0;
}

.case{
  padding: 30px 0 40px;
  text-align: center;
}
#case-swiper .swiper-slide{
  height: 150px;
  border: 1px solid red;
}
.partner{
  text-align: center;
  padding: 30px 0 40px;
}
.partlist li{
  float: left;
  width: 16%;
  padding: 10px;
}
.partlist li a{
  background: #F7F5F6;
  display: block;
  border: 1px solid red;
}
.partlist img{
  max-width: 100%;
  height: auto;
}

/* fullpage */
#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
  width: 40px;
  height: 3px;
  left: auto;
  right: 0;
  /* background: rgba(255, 255, 255, .3); 透明背景时，浅色背景下不明显*/
  background: #868585;
  border-radius: 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .3);
}
#fp-nav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li a.active span, 
.fp-slidesNav ul li:hover a.active span{
  width: 55px;
  height: 6px;
  left: auto;
  right: 0;
  background: #E62E2E;
  border-radius: 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .3);
}
/* active */
#fp-nav ul li:hover a span, 
.fp-slidesNav ul li:hover a span{
  width: 55px;
  height: 6px;
  left: auto;
  right: 0;
  background: #E62E2E;
  border-radius: 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .3);
}