.contBox{
    padding: 20px;
}
.htlid{
    color: #666;
    font-size: 14px;
    margin: 0 0 0 15px;
}
.peplitem{
    width: 140px;
    height: 175px;
    float: left;
    margin: 0 0 20px 20px;
    background: #F2F5FA;
    overflow: hidden;
    border-radius: 3px;
}
.peplitem dt{
    height: 140px;
    overflow: hidden;
    cursor: pointer;
}
.peplitem dd{
    text-align: center;
    font-size: 12px;
    line-height: 35px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.peplitem a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.peplitem img{
    width: 100%;
    height: 100%;
}
.mncright{
    background: red;
}

@media (max-width: 1166px) {
    .peplitem{
        margin-left: 32px;
    }
}