.htlitem{
    position: relative;
    height: 210px;
    border: 1px solid #E5EBF1;
    border-radius: 3px;
    overflow: hidden;
    padding: 0 0 0 210px;
    margin: 0 0 20px 0;
}
.itmlft{
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    height: 100%;
    text-align: center;
    background: #F5F7FA;
    padding: 0 20px;
}
.htlimgdv{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto 15px;
}
.htlimgdv img{
    width: 100%;
    height: 100%;
}
.htlname , .htlid{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.htlname{
    font-size: 18px;
    height: 24px;
}
.htlmore a{
    color: #1492FF;
    font-size: 12px;
    display: inline-block;
    margin: 15px 0 0 0;
}
.itmrt{
    overflow: hidden;
    padding: 16px 0 0 0;
}
.peplitem{
    width: 140px;
    height: 175px;
    float: left;
    margin: 0 0 18px 32px;
    background: #F2F5FA;
    overflow: hidden;
    border-radius: 3px;
}
.peplitem dt{
    height: 140px;
    overflow: hidden;
    cursor: pointer;
}
.peplitem a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.peplitem img{
    width: 100%;
    height: 100%;
}
.peplitem dd{
    text-align: center;
    font-size: 12px;
    line-height: 35px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

@media (max-width: 1166px) {
    .peplitem{
        margin-left: 25px;
    }
}