.login-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1366px;
    padding: 13% 0 0 0;
    background: #1F2028 url('../img/lgbg.png') left bottom no-repeat;
}
.loginOutoer{
    width: 380px;
    margin: 0 auto;
}
.sysName{
    text-align: center;
    height: 45px;
    line-height: 45px;
    margin: 0 0 35px 0;
    background: url('../img/lg_sysname.png') center no-repeat;
}
.lginfo{
    position: relative;
    width: 100%;
    height: 400px;
    padding: 40px 45px;
    margin: 0 auto;
    background: #20232E;
    border: 1px solid #164B7B;
}
.loginft{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin: 0 0 50px 0;
}
.lgiptdv{
    width: 100%;
    height: 40px;
    background: #fff;
    overflow: hidden;
    margin: 0 auto 16px;
    border: 1px solid #ccc;
}
.lgico{
    width: 40px;
    height: 40px;
    display: inline-block;
    float: left;
    border-right: 1px solid #ccc;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F5F5F5;
}
.userico{
    background-image: url('../img/user_lg.png');
}
.pwdico{
    background-image: url('../img/pwd_lg.png');
}
.lgipt{
    width: 245px;
    height: 38px;
    color: #999;
    font-size: 14px;
    line-height: 45px;
    border: none;
    background: #fff;
}
.obtn{
    width: 100%;
    height: 42px;
    margin: 50px 0 0 0;
    border-radius: 0;
}
.lgbtn{
    font-size: 16px;
}
.topl{
    position: absolute;
    left: -1px;
    top: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid #1492FF;
    border-right: none;
    border-bottom: none;
}
.topr{
    position: absolute;
    right: -1px;
    top: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid #1492FF;
    border-left: none;
    border-bottom: none;
}
.btml{
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid #1492FF;
    border-right: none;
    border-top: none;
}
.btmr{
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 2px solid #1492FF;
    border-left: none;
    border-top: none;
}

/* 复选框组  小尺寸*/
.htzhlb{
	cursor: pointer;
	display: inline-block;
}
.ckbox{
    position: relative;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    float: left;
    margin: 1px 5px 0 0;
    vertical-align: middle;
}
.htzhlb input{
    position: absolute;
    top: 0;
    left: 0;
	width: 0;
	opacity: 0;
}
.ckbox i{
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('../img/icons.png') no-repeat;
    background-position: -227px -369px;
}
.htzhlb input:checked + i{
    background-position: -185px -369px;
}


/* 尾部 */
.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
	line-height: 55px;
	height: 55px;
	color: #787880;
	text-align: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;  /* 背景填充颜色 */
    -webkit-text-fill-color: #999;  /* 字体颜色 */
}

@media (max-width: 1366px) {
    .login-wrapper{
        padding: 5% 0 0 0;
    }
}