.secmain{
    padding: 0;
}
.contBox{
    padding: 25px 0 0 45px;
}
.left{
    float: left;
}
.left{
    width: 700px;
}
.tbl1 td{
    padding: 10px 0;
}
.tbl1 td:last-child{
    padding-left: 15px;
}
.msgipt{
    width: 600px;
    height: 34px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}
.msgtxt{
    width: 600px;
    height: 80px;
    resize: none;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}
.selResult{
    width: 600px;
}
.infotbl{
    width: 100%;
}
.infotbl tr:first-child{
    color: #666;
}
.infotbl td{
    height: 40px;
    padding: 0 0 0 10px;
    border: 1px solid #E0E0E0;
}
.infotbl .htzhlb{
    position: absolute;
    top: 10px;
    left: 10px;
}
.mw70{
    width: 70px;
}
.mw105{
    width: 105px;
}
.mw130{
    width: 130px;
}
.mw165{
    width: 165px;
}
.infoval{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
    padding: 0 5px 0 0;
}
