.contBox{
    padding: 35px 40px;
}
.infoSec{
    margin: 0 0 30px 0;
}
.seCont{
    padding: 15px 0 0 0;
}
.titlp{
    font-size: 16px;
}
.basicInfo{
    margin: 10px 0 0 40px;
}
.basicInfo td{
    height: 50px;
}
.basicInfo td:first-child{
    color: #666;
    width: 90px;
}
.bckipt{
    width: 340px;
    height: 34px;
    border: 1px solid #E6E8EB;
    border-radius: 3px;
    background: #FCFDFF;
}
.bckipt:read-only{
    background: #F5F5F5;
    border-color: #F5F5F5;
}
.mngbtn{
    color: #1492ff;
    margin: 0 0 0 30px;
    cursor: pointer;
}

.btndv{
    padding: 20px 0 0 45px;
}
.btndv .obtn{
    width: 120px;
    height: 38px;
    line-height: 36px;
    margin: 0 30px 0 0;
}
.select2-container--default .select2-selection--single{
    height: 34px;
    background: #FCFDFF;
    border: 1px solid #E6E8EB;
}