.contBox{
    padding-right: 0;
}
.htlitem{
    height: 210px;
    border: 1px solid #E5EBF1;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 0 20px 0;
}
.itmlft, .itmrt{
    float: left;
}
.itmlft{
    width: 210px;
    height: 100%;
    text-align: center;
    background: #F5F7FA;
    padding: 0 20px;
}
.htlimgdv{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto 15px;
}
.htlimgdv img{
    width: 100%;
    height: 100%;
}
.htlname , .htlid{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.htlname{
    font-size: 18px;
    height: 24px;
}
/* .htlid{
    color: #666;
    height: 39px;
    padding: 5px 0 15px 0;
} */
.htlmore a{
    color: #1492FF;
    font-size: 12px;
    display: inline-block;
    margin: 15px 0 0 0;
}
.itmrt{
    width: 1408px;
    padding: 16px 0 0 0;
}
.peplitem{
    position: relative;
    width: 150px;
    height: 230px;
    float: left;
    margin: 0 13px 13px 0;
    background: #F2F5FA;
    overflow: hidden;
    border-radius: 3px;
}
.peplitem:nth-child(10n){
    margin-right: 0;
}
.peplitem dt{
    height: 150px;
    overflow: hidden;
    cursor: pointer;
}
.peplitem .htzhlb{
    position: absolute;
    left: 10px;
    top: 10px;
    display: none;
}
.peplitem a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.peplitem img{
    width: 100%;
    height: 100%;
}
.peplitem dd{
    color: #36414c;
    text-align: left;
    font-size: 12px;
    line-height: 23px;
    padding: 5px 6px 0;  
}
.peplitem .bkname{
    color: #333;
    text-align: center;
    font-size: 14px;
}
.infodv{
    /* display: none; */
}
.infobtns{
    padding: 11px 0 0 0;
    display: none;
}
.infobtns .obtn{
    width: 60px;
    height: 28px;
    line-height: 26px;
    font-size: 12px;
}
.infobtns .delinfobtn{
    background: #F5222D;
    border-color: #F5222D;
}
.changedv{
    height: 140px;
}
.changedv:hover .infobtns{
    display: block;
}
.changedv:hover .infodv{
    display: none;
}


/* 批量导入弹框相关 */
.batchImport{
    margin-left: -250px;
    margin-top: -270px;
}
.batchImport .sdbcont{
    padding: 40px;
    width: 500px;
}
.batchImport .dldv{
    margin: 0 0 20px 0;
}
.batchImport .upFileBtnOuter{
   width: 120px;
   height: 40px;
   border: 1px solid #1492FF; 
   display: inline-block;
   text-align: center;
   line-height: 38px;
   color: #1492FF;
   margin: 0 20px 0 0;
   border-radius: 3px;
}
.exportEIdiv{
	padding-top: 10px;
	display: none;
}
.ImageEIdiv{
    padding-top: 10px;
    margin: 0 0 30px 0;
	display: none;
}
.excelSpan{
	color: #666;;
	padding-left: 10px;
    display: inline;
    vertical-align:top;
}
.imgnum{
    color: #1492FF;
    vertical-align: top;
    padding: 0 2px 0 5px;
}
.excelA{
	color: #F5222D;
	cursor: pointer;
    vertical-align:top;
    padding: 0 0 0 10px;
}
.excelPic{
    width: 18px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../img/import_exceli.png');
    top:-5px;
}
.imagePic{
    width: 18px;
    height: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../img/import_imgi.png');
}
.batchImport .markp{
    color: #666;
    font-size: 12px;
}
.batchImport .templateDl{
    color: #1492FF;
    border-bottom: 1px solid #1492FF;
    float: right;
    margin: 10px 0 0 0;
    cursor: pointer;
}