html,body{
    width: 100%;
    height: 100%;
    background: #1F2024;
}
body{
    /* padding-bottom: 60px; */
}
.clear:after{
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.page_wrapper{
	width: 100%;
	height: 100%;
}
.secmain{
	position: relative;
    /* min-height: 770px; */
    min-height: 99%;
	background: #1F2024;
    padding: 20px 20px 70px 20px;
	border: 1px solid #1F2024;
}
.icons{
    background-image: url('../img/icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}
.obtn{
	color: #fff;
	width: 100px;
	height: 38px;
	text-align: center;
	line-height: 36px;
    background: #1492FF;
    border: 1px solid #1492FF;
    font-size: 14px;
	border-radius: 2px;
    cursor: pointer;
    display: inline-block;
	margin: 0 0 0 4px;
}
.obtnBl{
    color: #1492FF;
	background: transparent;
	border-color: #1492FF;
}
.redStart::before{
    content: '*';
    color: #EC5160;
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px -2px 0;
}
.spanw{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 有边框蓝色标题 */
.topTitl{
	padding: 0 0 10px 0;
	position: relative;
}
.topTitl h2{
	line-height: 25px;
    font-size: 18px;
    color: #e0e0e0;
    border-left: 3px solid #1492FF;
    padding: 0 0 0 10px;
}
.topTitl .rdlb{
    margin: 0 0 0 35px;
}
/* 返回按钮标题 */
.backTitl h2{
    border: none;
    padding: 0;
}
.goBack{
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url('../img/gobackgr.png') no-repeat;
    cursor: pointer;
    vertical-align: middle;
    margin: -3px 13px 0 0;
}
.topTitl li{
	float: left;
	width: 75px;
	text-align: center;
	line-height: 25px;
	font-size: 16px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	padding: 0 0 7px 0;
	margin: 0 10px -1px 20px;
}
.topTitl .curli{
	color: #1492FF;
	border-color: #1492FF;
}
.topTitl hr{
	height: 1px;
    margin: 10px 0;
    border: 0;
    background-color: #32353E;
    clear: both;
}
.tptbtns{
	position: absolute;
	top: 6px;
	right: 0;
}
.tptbtn{
    color: #c0c0cc;
    cursor: pointer;
    margin: 0 0 0 40px;
}
.tptbtn:hover{
    color: #fff;
}
.oprbtndv{
    margin: -19px 0 0 0;
    vertical-align: middle;
    display: none;
}
.oprbtn{
    width: 70px;
    height: 30px;
    line-height: 28px;
    color: #fff;
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 2px;
    background: #1492FF;
    margin: 0 0 0 10px;
}
.oprgreenbtn{
    background: #1CBA9A;
}
.opryelowbtn{
    background: #FA8734;
}
.oprredbtn{
    background: #FF5662;
}
/* 白名单 */
.tptwtlist{
    width: 16px;
    height: 16px;
    background-position: -238px -108px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
}
.tptbtn:hover .tptwtlist{
    background-position:  -153px -233px;
}
/* 筛查规则 */
.tptrule{
    width: 14px;
    height: 16px;
    background-position: -15px -279px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
}
.tptbtn:hover .tptrule{
    background-position:  -284px -197px;
}
/* 导出 */
.tptexport{
    width: 12px;
    height: 13px;
    background-position:  -330px -281px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
}
.tptbtn:hover .tptexport{
    background-position: -330px -238px;
}
/* 导入 */
.tptimport{
    width: 12px;
    height: 13px;
    background-position:  -373px -316px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
}
.tptbtn:hover .tptimport{
    background-position: -330px -195px;
}
/* 导出 */
.tptexport{
    width: 12px;
    height: 13px;
    background-position:  -330px -281px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
}
.tptbtn:hover .tptexport{
    background-position: -330px -238px;
}
/* 添加 */
.tptadd{
    width: 12px;
    height: 13px;
    background-position:  -373px -101px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
}
.tptbtn:hover .tptadd{
    background-position: -373px -144px;
}
/* 批量选择 */
.tptselect{
    width: 14px;
    height: 14px;
    background-position: -191px -325px;
    vertical-align: middle;
    margin: -3px 5px 0 0;
}
.tptbtn:hover .tptselect{
    background-position: -279px -325px;
}
/* 操作表单 */
.form-menu{
    /* padding-top: 10px; */
}
.form-menu .form-group{
    margin: 0 20px 10px 0;
}
.form-menu .form-control{
    width: 220px;
}
.form-menu .obtn{
    margin: 0 20px 0 0;
}
.form-menu .mnipt {
    color: #c0c0cc;
    width: 220px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #2E2E38;
    background: #2E2E38;
}
.datadv {
    width: 188px;
    height: 38px;
    border: 1px solid #2E2E38;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background: #2E2E38;
}
.datadv i {
    width: 35px;
    height: 38px;
    float: right;
	background: url(../img/calender.png) center no-repeat;
}
.datadv input {
    width: 150px;
	height: 37px;
	line-height: 37px;
    float: left;
    border: none;
    background: #2E2E38;
}
.hline {
    width: 30px;
    line-height: 40px;
    color: #525866;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.searchbtn{
	background: #1492FF url('../img/searchi.png') no-repeat;
	background-position: 26px 11px;
	padding: 0 0 0 26px;
}
.resetbtn{
    color: #1492FF;
    border-color: #1492FF;
    background: url('../img/reseti.png') no-repeat;
    background-position: 26px 11px;
	padding: 0 0 0 26px;
}
.morebtn{
    color: #1CBA9A;
    border-color: #1CBA9A;
    background: url('../img/moreToShowi.png') no-repeat;
    background-position: 26px 14px;
	padding: 0 0 0 26px;
}
.moreToHide{
    background-image: url('../img/moreToHidei.png');
}
.moreMenu{
    display: none;
}
.delinfo{
    position: absolute;
    right: 13px;
    top: 11px;
    width: 12px;
    height: 13px;
    background-position:  -373px -273px;
}
.timep::before{
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('../img/icons.png') no-repeat -235px -325px;
    vertical-align: middle;
    margin: -3px 8px 0 0;
}
/* 数据表格-------------- */
.datatb{
    width: 100%;
    color: #a8a8b2;
	text-align: center;
	margin: 10px 0 5px 0;
}
.datatb td{
    height: 45px;
    background: #27282E;
}
.datatb th, .datatb td{
	border: 1px solid #1F2024;
	border-left: none;
	border-right: none;
}
.datatb th{
    height: 50px;
    color: #c0c0cc;
    font-size: 14px;
    background: #343842;
}
.w100{
    width: 100px;
}
.w350{
    width: 350px;
}
.w450{
    width: 450px;
}
/* 开关按钮 */
.kg_btn {
	position: relative;
    width: 35px;
    height: 19px;
    line-height: 19px;
    border-radius: 10px;
    background: #258bda;
    display: inline-block;
}
.spdot {
    position: absolute;
    top: 0;
    left: 20px;
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
}
.kg_btn i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: inline-block;
    z-index: 2;
}
.kg_btn input {
    position: absolute;
    left: 0;
	top: 0;
	width: 0;
}
.kg_btn_unck{
    background: #909099;
}
.kg_btn_unck .spdot{
     transform: translate(-22px, 0);
     -webkit-transform: translate(-22px, 0);
     -moz-transform: translate(-22px, 0);
     -ms-transform: translate(-22px, 0);
}
/* 复选框组  大尺寸*/
.htzhlb{
	cursor: pointer;
	display: inline-block;
}
.ckbox{
    position: relative;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    float: left;
    margin: 0 5px 0 0;
}
.htzhlb input{
    position: absolute;
    top: 0;
    left: 0;
	width: 0;
	opacity: 0;
}
.ckbox i{
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('../img/icons.png') no-repeat;
    background-position: -103px -325px;
}
.htzhlb input:checked + i{
    background-position: -323px -325px;;
}
/* 单选框-------------------------- */
.rdlb{
    cursor: pointer;
    display: inline-block;
}
.rdlb .rdbox{
    position: relative;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    float: left;
    margin: 2px 4px 0 0;
}
.rdlb input[type="radio"]{

    position: absolute;
    top: 0;
    left: 0;
	width: 0;
	opacity: 0;
}
.rdlb i{

    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url('../img/icons.png') no-repeat;
    background-position: -143px -369px;

}
.rdlb input[type="radio"]:checked~i{
    background-position: -101px -369px;
}
/* 表格里的按钮样式 */
.tblbtn{
	cursor: pointer;
	margin: 0 12px;
}
.tblbtn:hover{
    color: #fff;
}
.editico::before{
	content: '';
    width: 12px;
    height: 15px;
    display: inline-block;
    background: url(../img/icons.png) no-repeat;
    background-position: -373px -230px;
    margin: 0 6px -3px 0;
}
.delico::before{
	content: '';
    width: 12px;
    height: 15px;
    display: inline-block;
    background: url(../img/icons.png) no-repeat;
    background-position: -373px -273px;
    margin: 0 6px -3px 0;
}
.ssspico::before{
	content: '';
    width: 14px;
    height: 12px;
    display: inline-block;
    background: url(../img/tbl_ssspi.png) no-repeat;
    margin: 0 6px -2px 0;
}
.sszpico::before{
	content: '';
    width: 14px;
    height: 12px;
    display: inline-block;
    background: url(../img/tbl_sszp.png) no-repeat;
    margin: 0 6px -2px 0;
}
.fxjgico::before{
	content: '';
    width: 14px;
    height: 12px;
    display: inline-block;
    background: url(../img/tbl_fxjg.png) no-repeat;
    margin: 0 6px -2px 0;
}
.resetpwdico::before{
    content: '';
    width: 15px;
    height: 13px;
    display: inline-block;
    background: url(../img/icons.png) no-repeat;
    background-position: -106px -279px;
    margin: 0 6px -2px 0;
}
.ckdetailico::before{
    content: '';
    width: 16px;
    height: 12px;
    display: inline-block;
    background: url(../img/icons.png) no-repeat;
    background-position: -151px -279px;
    margin: 0 6px -2px 0;
}
.greenDot::before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #64BF49;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 0;
}
.redDot::before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #EC5160;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 0;
}
.greenDot::before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #64BF49;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 0;
}
.yellowDot::before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FDA336;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 0;
}
.btnico{
    width: 28px;
    height: 28px;
    display: inline-block;
    cursor: pointer;
    margin: 0 25px;
}
.startico{
    background: url('../img/starti.png') no-repeat;
}
.stopico{
    background: url('../img/stopi.png') no-repeat;
}
.redDelico{
    background: url('../img/reddeli.png') no-repeat;
}
/* ---------------------分页--------------- */
.pagegation{
	text-align: center;
	height: 70px;
	padding: 20px 0 0 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
}
.pagegation ul{
    display: inline-block;
}
.pagegation li{
    float: left;
}
.pagegation a{
    color: #787880;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #353842;
    margin: 0 5px 0 0;
    border-radius: 2px;
	cursor: pointer;
}
.pagegation .pageinfo{
	position: absolute;  
	top: 30px; 
	right: 60px;
}
/* 当前页码样式 */
.pagegation .curpage{
    color: #fff;
    background: #0196F2;
}

/* loading 蒙层 */
.ldshade{
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
    height: 100%;
    text-align: center;
	background: rgba(0,0,0,.3);
	z-index: 9998;
}
.ldshade .ldcont{
    position: absolute;
    top: 30%;
    left: 50%;
    color: #fff;
    line-height: 30px;
}

/* 遮罩------- */
.shade{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgb(0,0,0);
    opacity: .3;
	display: none;
}
.shade-nav{
    position: absolute;
    z-index: 2;
}
.shade-sidebar{
    position: absolute;
    z-index: 5;
}
.shade-footer{
    position: absolute;
}
.boxshowing{
	overflow: hidden;
	height: 100%;
	width: 100%;
	min-width: 100% !important;
	min-height: 100% !important;
}
/* 弹框---------- */
.shadeBox{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: -360px;	/* 具体弹框位置具体定 */
	border: 1px solid #393C47;
    z-index: 9999;
    overflow: hidden;
	background: #1F2024;
	display: none;
	padding: 0 0 80px 0;
}
.shadeBox h2 {
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    padding: 0 20px;
    background: #27282E;
}
.shadeBox .sdbxclose {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 21px;
    height: 21px;
    background: url('../img/icons.png') no-repeat;
    background-position: -187px -66px;
    cursor: pointer;
}
.sdbcont{
	padding: 20px;
}
.shadeBox .sdbfoot{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 80px;
    padding: 20px 0;
    text-align: right;
	border-top: 1px solid #393C47;
}
.shadeBox .obtn{
    margin: 0 20px 0 0;
    border-radius: 0;
}
.shadeBox .sdipt{
	color: #c0c0cc;
	width: 400px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #2E2E38;
}
.shadeBox .sdiptmin{
    width: 165px;
}
.shadeBox .w100{
    width: 100px;
}
.shadeBox .sdtextarea{
    width: 400px;
    height: 80px;
    resize: none;
    line-height: 20px;
}
.shadeBox table{
	margin: 10px 20px;
}
.shadeBox td{
	padding: 8px 0;
}
.shadeBox td:nth-child(2n+1){
	text-align: right;
}
.shadeBox .delcont {
    color: #ccc;
    width: 460px;
    height: 160px;
    text-align: center;
    font-size: 18px;
    padding: 43px 0 0 0;
}
.shadeBox .sdtipdeli {
    width: 76px;
    height: 76px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
    background: url(../img/box_del.png) no-repeat;
}
.shadeBox .sdtipreseti {
    width: 76px;
    height: 76px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px 0 0;
    background: url(../img/box_reset.png) no-repeat;
}
.shadeBox .newPwd {
    font-size: 22px;
    color: #fff;
    padding: 0px 0px 0px 5px;
}
/* 密码验证 */
.shadeBox .pwdcont{
    padding: 50px 80px;
    text-align: center;
}
.shadeBox .pwdp{
    font-size: 18px;
    margin: 0 0 50px 0;
}
.shadeBox .pwdyzipt{
    width: 120px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #1492FF;
    background: transparent;
}
#pwdBox .sdbfoot{
    text-align: center;
}
#pwdBox .obtn{
    margin: 0 20px;
}
#pwdBox{
    margin-top: -200px;
    margin-left: -197px;
}
#delBox, #delplBox, #resetpwdBox{
    margin-top: -200px;
    margin-left: -300px;
}

/* 查看原图 */
.imgBox{
    margin-top: -340px;
    margin-left: -390px;
    padding: 0;
}
.imgcont{
    position: relative;
    padding: 0;
}
#imgContainer{
    width: 780px;
    height: 440px;
    background: url('../img/transparent.png');
}
.imgOprdv{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 56px;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    padding: 15px 0 0 0;
}
.imgOprdv .imgbtn{
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    background-position: center;
    cursor: pointer;
    margin: 0 35px;
}
.imgOprdv .imgbigger{
    background-image: url('../img/magnify.png');
}
.imgOprdv .imgsmaller{
    background-image: url('../img/shrinki.png');
}
.imgOprdv .imgdw{
    background-image: url('../img/dwloadi.png');
}
.imgbigger:hover{
    background-image: url('../img/magnify2.png');
}
.imgsmaller:hover{
    background-image: url('../img/shrinki2.png');
}
.imgdw:hover{
    background-image: url('../img/dwloadi2.png');
}

/* 非弹框页面图片放大 */
.noshadeimgzoom{
    position: relative;
}
.noshadeimgzoom #imgContainer{
    width: 100%;
    height: 100%;
    background: transparent;
}
.noshadeimgzoom .imgOprdv{
    width: 130px;
    height: 40px;
    bottom: 10px;
    top: 15px;
    left: 15px;
    background: #27282E;
    border-radius: 2px;
    padding: 12px 0 0 6px;
}
.noshadeimgzoom .imgbtn{
    width: 33px;
    height: 18px;
    border: none;
    background-color: transparent;
    background-position: 3px center;
    cursor: pointer;
    margin: 0 2px;
}
.noshadeimgzoom .imgbigger{
    background-image: url('../img/magnify_sml.png');
    background-repeat: no-repeat;
    border-right: 1px dashed #4D4D4D;
}
.noshadeimgzoom .imgsmaller{
    background-image: url('../img/shrinki_sml.png');
    background-repeat: no-repeat;
    border-right: 1px dashed #4D4D4D;
}
.noshadeimgzoom .imgdw{
    background-image: url('../img/dwloadi_sml.png');
    background-repeat: no-repeat;
}
.noshadeimgzoom .imgbigger:hover{
    background-image: url('../img/magnify_sml2.png');
}
.noshadeimgzoom .imgsmaller:hover{
    background-image: url('../img/shrinki_sml2.png');
}
.noshadeimgzoom .imgdw:hover{
    background-image: url('../img/dwloadi_sml2.png');
}

.fa-search-plus{
    width: 40px;
    height: 28px;
    display: inline-block;
    background-color: transparent;
    background-position: center;
    background-image: url('../img/magnify_sml.png');
    background-repeat: no-repeat;
    border-right: 1px dashed #4D4D4D;
}
.fa-search-minus{
    width: 40px;
    height: 28px;
    display: inline-block;
    background-position: center;
    background-image: url('../img/shrinki_sml.png');
    background-repeat: no-repeat;
    border-right: 1px dashed #4D4D4D;
}
.dwbtn{
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin: 0 2px;
    display: inline-block;
    background: transparent;
}
.dwbtn i{
    width: 40px;
    height: 28px;
    display: inline-block;
    background-position: center;
    background-image: url('../img/dwloadi_sml.png');
    background-repeat: no-repeat;
}