html, body{
    height: 100%;
}
ul,ol,li{
	list-style: none;
}
.container{
    position: relative;
    height: 100%;
    /* overflow: hidden; */
    padding: 0;
    background: #fff;
}
.clear:after{
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.obtn{
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background: #1890FF;
    font-size: 18px;
    color: #fff;
    border: 1px solid #1890FF;
    margin: 20px 0 0 0;
    -webkit-appearance : none ;  /*解决iphone safari上的圆角问题*/
}
.btnbl{
    color: #1890FF;
    border-color: #1890FF;
    background-color: #fff;
}
.btnwt{
    color: #1890FF;
    border-color: transparent;
    background-color: transparent;
    margin: 5px 0 0 0;
}
.obtn:disabled{
    color: #999999;
    border-color: #E0E0E0;
    background-color: #E0E0E0;
}
.content{
    padding: 0 20px;
}
/* 进度提示================================ */
.pgsBar{
    border: 1px solid #E2E2E2;
    border-left: 0;
    border-right: 0;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}
.pgsBar ul{
    /* margin: 0 auto; */
    display: inline-block;
}
.pgsdot{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: inline-block;
    background: #CCCCCC;
    color: #fff;
    text-align: center;
    line-height: 23px;
    margin: -2px 5px 0 0;
    vertical-align: middle;
}
.pgsline{
    width: 20px;
    border-top: 1px solid #999;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}
.pgsBar li{
    float: left;
    color: #999999;
}
.pgsBar .curLi{
    color:#1890FF;
}
.curLi .pgsline{
    border-color: #1890FF;
}
.curLi .pgsdot{
    background: #1890FF;
}
/* 进度提示============================= */