*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	color: #c0c0cc;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}
table{
	border-collapse: collapse;
}
ul,ol,li{
	list-style: none;
}
button, input, select,textarea{
	color: #c0c0cc;
    font-family: 'Microsoft YaHei';
    background: #2E2E38;
}
input[type='text'],input[type='password'], input[type='date'], select, textarea{
	padding: 0 0 0 8px;
}
input[type='date'], input[type='button'], input[type='submit'], input[type='reset'], button{
	cursor: pointer;
}
textarea{
    padding: 5px 8px;
}
button, input, select{
    font-size: 12px;
}
a, img, input, select, button, textarea{
	outline: none;
}
a{
	text-decoration: none;
}
a:hover{
      text-decoration:none;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}
header,nav,footer,aside,main{
	display: block;
}
i{
	font-style: normal;
}

/* IE去掉自带的叉号等图标 -------------------------------------*/

input::-ms-clear{ display:none; }
input::-ms-reveal{ display:none; }

/* 下拉框样式修改,主要是IE8下右边下拉箭头样式，现改为统一-------- */
select{
	appearance:none;
	padding: 0 35px 0 8px;
	-moz-appearance:none;
	-webkit-appearance:none;
	background: url('../img/selectarow.png') no-repeat;
	background-position: right center;
}
select::-ms-expand{
	display: none;
}
/* placeholder颜色 */
input::-webkit-input-placeholder{
    color:#c0c0cc;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#c0c0cc;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#c0c0cc;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#c0c0cc;
}