*{
  margin: 0;
  padding: 0;
}
ul,ol,li{
  list-style: none;
  margin: 0;
}
p{
  margin: 0;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.h4, .h5, .h6, h4, h5, h6{
  margin-top: 0;
  margin-bottom: 0;
}
.btn{
  padding: 0;
}
a{
  color: #333;
  cursor: pointer;
  /* transition: .8s; */
}
a:focus, a:hover{
  text-decoration: none;
}