.xtjklist{
    padding: 20px 0 0 0;
}

.xtjklist li{
    float: left;
    width: 520px;
    height: 180px;
    position: relative;
    margin: 0 30px 25px 0;
}

.xtjklist img{
    width: 110px;
    height: 110px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 35px;
}
.tkjkbox{
    width: 465px;
    height: 180px;
    border-radius: 5px;
    float: right;
    background: #27282E;
    padding: 20px 10px 0 75px;
}
.tkjkbox hr{
    height: 0;
    border: none;
    border-top: 1px solid #393C47;
}
.itmname{
    max-width: 215px; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle; 
    margin: -2px 0 0 0;  
}
.delico{
    float: right;
}
.tkjkbdv2{
    padding: 22px 0 10px 0;
}
.tkjkbdv2 p{
    float: left;
    padding: 0 50px 0 0;
}
.tkjkbdv2 span{
    color: #fff;
    font-size: 24px;
}
.tkjkbdv3 {
    font-size: 12px;
    padding: 10px 0 0 0;
}
.tkjkbdv3 div{
    float: left;
}
.adrsdv{
    width: 180px;
    line-height: 23px;
}
.ipval{
    color: #fff;
    width: 135px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 3px 0;
}
.downsp::before{
    content:'';
    width: 20px;
    height: 27px;
    background: url('../img/dwli.png') no-repeat;
    margin: 4px 6px 0 0;
    position: absolute;
}
.upsp::before{
    content:'';
    width: 20px;
    height: 27px;
    background: url('../img/upli.png') no-repeat;
    margin: 4px 6px 0 0;
    position: absolute;
}
.downsp p, .upsp p{
    padding: 0 0 0 23px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.downsp span, .upsp span{
    color: #A9A9A9;
    display: block;
}
.tkjkbdv3 .upsp{
    float: right;
}
.downsp, .upsp{
    width: 90px;
    position: relative;
}
.downsp{
    margin: 8px 0 0 10px;
}
.upsp{
    margin: 8px 0 0 0;
}
/* 弹框 */
#addBox, #editBox{
    margin-left: -260px;
}
.shadeBox .sdipt{
    width: 330px;
}
