
.datatb td:first-child{
    position: relative;
}
.datatb .htzhlb{
    position: absolute;
    left: 20px;
    top: 11px;
    display: none;
}
.oprbtndv{
    margin: 20px 0 0 0;
}
.oprbtndv .oprbtn{
    margin: 0 5px 0 0;
}

/* 任务状态详情样式 */
.detailTbl{
    color: #a8a8b2;
    margin: 10px 0 0 20px;
}
.detailTbl td{
    height: 40px;
}
.detailTbl td:last-child{
    color: #e0e0e0;
}
.w110{
    width: 110px;
}
.taskTbl{
    width: 600px;
}
.taskTbl td{
    color: #a8a8b2;
    height: 50px;
    padding: 0 0 0 30px;
    border: 1px solid #292B33;
}
.thead td{
    color: #e0e0e0;
    height: 55px;
    text-align: center;
    padding: 0;
    font-weight: bold;
}
.taskTbl td:last-child{
    text-align: center;
    padding: 0;
}
.taskTbl .btnico{
    margin: 0 15px;
}
.shadeBox table{
    margin: 40px 20px;
}