.content{
    padding: 1.333333rem .933333rem 0;
    font-size: .373333rem;
}
.headv{
    width: 3.333333rem;
    height: 4.4rem;
    background: url('../img/head.png');
    background-size: 100% 100%;
    margin: 0 auto 2.133333rem;
}
/* .pgsBar{
    position: relative;
    width: 100%;
    height: .266667rem;
    border-radius: .133333rem;
    background: #EBEBEB;
    margin-top: .266667rem;
}
.realbar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 80%;
    border-radius: .133333rem;
    display: inline-block;
    
} */

/* bootstrap样式覆盖 */
.progress{
    height: .266667rem;
    border-radius: .133333rem;
    background: #EBEBEB;
    margin-top: .266667rem;
}
.progress-bar{
    background: -webkit-linear-gradient(left, #16C7DC , #1899F9); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #16C7DC , #1899F9); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #16C7DC , #1899F9); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #16C7DC , #1899F9); /* 标准的语法（必须放在最后） */
}